<h1 class="jumbotron jumbotron-fluid">
    SUBCATEGORIAS
</h1><br>
<hr>
<form >
    <label for="nomeSubcat">Nome</label><br>
    <input type="text" name="nomeSubcat" id="nomeSubcat" class="form form-control"/><br>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>