<button type="button" class="btn btn-info" id="btnVoltar"><a asp-action="Index" asp-controller="Home">Retornar ao Menu</a></button>
<h1 class="jumbotron jumbotron-fluid">
    SUBCATEGORIAS
</h1><br>
<hr>
<form asp-action="SubCategoria" asp-controller="SubCategoria" >
    <label for="nomeSubcat">Nome</label><br>
    <input type="text" name="nome" id="nome" class="form form-control"/><br>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>